<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
<a title="Realtime application protection" href="https://docs.sqreen.io/integrations-1/sqreen-badges/"><img style="width:109px;height:36px" src="https://s3-eu-west-1.amazonaws.com/sqreen-assets/badges/20171107/sqreen-mono-badge.svg" alt="Sqreen | Runtime Application Protection"></a>
